* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bactop {
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 25px;
  bottom: 20px;
  right: 20px;
  background: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.show-bactop {
  display: flex !important;
}

.title {
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
}

.desc {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

main {
  padding-top: 80px;
}
